@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&family=Montserrat&display=swap");

:root {
  --blue: rgba(87, 132, 186, 1);
  --dark-blue: rgb(58, 108, 170);
  --light-blue: rgba(230, 237, 246, 1);
  --pink: rgba(244, 207, 223, 1);
  --light-white: rgba(249, 249, 249, 1);
}

html * {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  color: rgba(1, 6, 32, 1);
}
body {
  background-color: var(--light-blue);
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
}

.login-container input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.login-container .btn-container {
  margin-top: 100px;
}

.forgot-password-text {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  text-align: right;
  width: 100%;
}

.form-label-materialize {
  color: #ada9bb;
  top: 0.7rem;
  left: 6px;
  position: relative;
  background-color: transparent;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  line-height: 20.93px;
}

.password-container {
  position: relative;
}

.new-user-container {
  position: fixed;
  bottom: 1.8rem;
  left: 0;
  width: 100%;
  text-align: center;
}

.new-user-text {
  color: #ada9bb;
}
.register-text {
  font-weight: 500;
}

/* btn */

.btn-primary-color {
  background-color: var(--blue);
  color: white;
}

.btn-primary-color:hover {
  background-color: var(--dark-blue);
  color: white;
}

.btn-google {
  background-color: rgba(0, 13, 79, 0.08);
  font-size: 0.75rem;
}
.btn-google:hover {
  background-color: rgba(0, 13, 79, 0.171);
  font-size: 0.75rem;
}

/* icon */
.eye-icon {
  position: absolute;
  right: 6px;
  margin-top: -2rem;
}

.google-icon {
  height: 1.5rem;
  width: 1.5rem;
}

/* utils */
.touchable {
  cursor: pointer;
}

.back-icon {
  height: 2.4rem;
  position: absolute;
  left: 30px;
  top: 30px;
}

.rounded-5px {
  border-radius: 5px;
}
.rounded-10px {
  border-radius: 10px;
}

/* reset password */
.forgot-password-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-ilustration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.question-ilustration-container img {
  height: 80%;
  width: 80%;
}

.reset-form-container h1 {
  font-size: 2.4rem;
  margin-bottom: 5%;
}

.enter-email-instruction {
  font-weight: 500;
  font-size: 1rem;
}

.reset-description-text {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(131, 127, 143, 1);
}

.forgot-password-container button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .forgot-password-container {
    background-color: var(--light-blue);
    padding: 0;
    margin: 0;
  }

  .question-ilustration-container img {
    width: 45%;
    height: 45%;
  }

  .reset-form-container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reset-form-container button,
  .reset-form-container .form-group {
    width: 65%;
  }

  .reset-form-container h1 {
    margin-bottom: 20%;
  }

  .reset-form-container .enter-email-instruction {
    margin-bottom: 5%;
  }

  .reset-form-container .reset-description-text {
    margin-bottom: 24%;
  }
}
